# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example
.venv

# Logs
*.log

# SQLite / local databases
*.db
*.sqlite
*.sqlite3

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Files
code.ipynb